@keyframes screenOpen {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes prompt {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

body {
    font-family: sans-serif;
    
}

.uLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.uLink:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.titleBar {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    box-shadow: 0 2px 8px #aaaaaa;
    background-color: rgb(0, 174, 255);
}

.titleBarTabbed {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    
    background-color: rgb(0, 174, 255);
}

.titleBarTabbed p {
    color: white;
    padding: 8px;
    font-size: 150%;
}

.titleBar p {
    color: white;
    padding: 8px;
    font-size: 150%;
}

.titleBar a {
    text-decoration: none;
    text-decoration-style: none;
    color: white;
}

.btn {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.14);
    background-color: rgb(0, 174, 255);
    border: none;
    font-size: 150%;
    border-radius: 2px;
    transition: box-shadow 0.3s ease-in-out;
    color: white;
    padding: 8px;
}

.btn:hover {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
    cursor: pointer;
}

.editText {
    border: none;
    border-bottom: 2px solid #2e2e2e;
    font-size: 150%;
    transition: border-bottom 0.3s ease-in-out;
}

.editText:hover {
    border: none;
    border-bottom: 2px solid rgb(0, 174, 255);
}


.dialogueBox {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
    margin: 8px;
}

.dialogueBox p {
    text-align: center;
    padding: 8px;
}

.box {
    background-color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 7px #aaaaaa;
    animation: 0.5s ease-out 0s 1 prompt;
}

.dialogueBox button {
    display: flow-root;
    border: none;
    background-color: transparent;
    color: teal;
    transition: background-color 0.3s ease-in-out;
}
.dialogueBox button:hover {
    background-color: rgba(0, 0, 0, 0.164);

}

.list {
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    list-style-type: none;
}

.listItem {
    padding: 8px;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid #aaaaaa;
}

.listItem:hover {
    background-color: rgba(0, 0, 0, 0.164);
}


.grid1 {
    display: grid;
    grid-template-columns:  auto;
    grid-gap: 8px;
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
}

.grid2ng {
    display: grid;
    grid-template-columns: auto auto;
    
}

.grid3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 8px;
}

.grid4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px;
}

.grid5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 8px;
}

.gridC {
    display: grid;
    grid-template-columns:  auto;
    grid-gap: 8px;
    place-items: center;
}

.card {
    border: 1px solid #aaaaaa;
    border-radius: 4px;   
}

.card2 {
    border-radius: 6px;
    box-shadow: 0 3px 7px -2px #aaaaaa;
    border: none;
    padding: 10px;
    display: grid;
    place-items: center;
    transition: all 0.4s ease-in-out;
}

.card2:hover {
    box-shadow: 0 3px 15px -2px #aaaaaa;
    cursor: pointer;
}

.screen {
	display: none;
	animation: 0.5s ease-out 0s 1 screenOpen;
}

.barIco {
            
    border: none;
    border-radius: 100px;
    transition: all 0.4s ease-in-out;
}
.barIco:hover {
    background-color: rgba(0, 0, 0, 0.212);
    cursor: pointer;
}

.tabOption {
    
    background-color: rgb(0, 174, 255);
    float: left;
    border: none;
    color: white;
    font-size: 150%;
    transition: all 0.4s ease-out;
    
}

.tabOption:hover {
    background-color: rgb(0, 135, 197);
}

.toast {
    background-color: rgb(19, 19, 19);
    border-radius: 15px;
    box-shadow: 1px 1px 15px #aaaaaa;
    position: fixed;
    bottom: 50%;
}

.toast p {
    color: white;
}

.warnP {
    color: red;
    display: none;
}